#container {
    width: 50%;
    max-width: 529px;
    min-width: 300px;
    position: relative;
    margin: auto;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: inherit;
    @include respond-to(tablet){
      width: 80%;
      max-width: 750px;
      min-width: 300px;
      margin-top: 1px;
    }
    @include respond-to(desktop) {
      max-width: 950px;
      margin: auto;
    }
}

.ct{
    width: 250px;
    height: 200px;
    margin: 0 auto;
    padding-top:50px;
    display: block;    
    -webkit-perspective: 200px;
    perspective: 180px;
    @include respond-to(tablet) {
      width: 200px;
      height: 150px;
    }
}
.front,.back{
    position: absolute;
    width: 250px;
    height: 200px;
    top: 0;
    right: 0;
    background-size: cover;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    backface-visibility:hidden;
    z-index: 1;
    border-radius: 100px 0;
    -webkit-transform:rotateY(-15deg);
    border:5px solid #fff;
    @include respond-to(tablet) {
      width: 200px;
      height: 150px;
    }
}
.back{
    z-index: 0;
    background: #34495e;
    -webkit-transform:rotatey(180deg);
    -moz-transform:rotatey(180deg);
    transform:rotatey(167deg);
    border-radius:0 100px;
    background-color: white;
    background-size: cover;
}
.flipper{
    -webkit-transition: .9s;    
    -moz-transition: .9s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    width: 250px;
    height: 200px;
    top: 0;
    right: 13px;
    z-index: 10;
    @include respond-to(tablet) {
      width: 200px;
      height: 150px;
      right: 0;
    }
}
.flip{
    -webkit-transform:rotateY(195deg);
}

.button {
  left: 135px;
  bottom: 160px;
  @include respond-to(tablet) {
    left: 110px;
    bottom: 110px;
  }
}
.button1 {
  left: 15px;
  bottom: 110px;
  cursor: pointer;
  @include respond-to(tablet) {
    left: 20px;
    bottom: 90px;
  }
}

.button,
.button1 {
    position: relative;
    z-index: 6000;
    border-radius: 6px;
    color: aliceblue;
    background-color: brown;
    font-weight: 700;
    box-shadow: 4px 4px 6px black, 5px 5px 6px gray, 7px 7px 10px lightgrey;
    width: 40%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    @include respond-to(tablet) {
      height: 20px;
      line-height: 20px;
    }
}

.background {
    border-radius: 0 100px;
    background-size: cover;
    position: relative;
    bottom: 5px;
    right: 5px;
    z-index: 1;
    width: 250px;
    height: 200px;
    border: 5px solid orangered;
    @include respond-to(tablet) {
      width: 200px;
      height: 150px;
    }
}

.popup {
  display: none;
  position: fixed;
  z-index: 1000000;
  left: 20px;
  margin-left: 35px;
  top: 12vh;
  margin-top: -200px;
  opacity: 1;
  transition: all 1s;
  -webkit-transition: all 1s;
  @include respond-to(tablet) {
    top: 5vh;
  }
}

.popup div {
  width: 100%;
  max-width: 250px;
  height: 170px;
  font-size: 15px;
  padding: 15px 10px 1px 20px;
  background-color: #e6e6fa;
  border-radius: 40px;
  color: black;
  line-height: 18px;
  @include respond-to(tablet) {
    line-height: 15px;
    padding: 10px 20px 20px 30px;
  }
}

.popup svg {
  position: relative;
  width: 100%;
  fill: #e6e6fa;
  z-index: 10000;
}

.show {
  display: block;
}
