nav {
    display: flex;
    z-index: 2000;
 	width: 100%;
    @include layouts($borderRadius: 5px); 
    @include respond-to(tablet) {
    	flex-direction: row;
    	position: relative;
    	top: -60px;
    	left: -60px;
    }
    @include respond-to(desktop) {
    	left: -100px;
    }
	navTabs li:nth-child(1) {
	    padding: 10px 15px 5px;
	}

	.navTabs {
		width: 100%;
		margin: 0;
		@include respond-to(tablet) {
			display: flex;
			justify-content: flex-end;
			margin: 10px 0 0 0; 
		}
	}

	.svgNav-1,
	.svgNav-2,
	.svgNav-3 {
	    position: relative;
	    top: 3px;
	}

	.svgNav-1 {
		width: 98px;
		left: 27px;
	}

	.svgNav-2 {
		width: 98px;
		left: 46px;
	}

	.svgNav-3 {
		width: 98px;
		left: 57px;
	}

	.shape-1,
	.shape-2,
	.shape-3 {
	  stroke-width: 4px;
	  stroke: whitesmoke;
	}

	.shape-1 {
		stroke-dasharray: 88 540;
    	stroke-dashoffset: -140;
    	width: 95px;
    	fill: white;
    	fill-opacity: -1;
	}

	.shape-2 {
	    stroke-dasharray: 88 540;
    	stroke-dashoffset: -140;
    	fill: white;
    	fill-opacity: -1;
	}

	.shape-3 {
	    stroke-dasharray: 89 540;
		stroke-dashoffset: -137;
		width: 95px;
	}



	.text {
	    color: #fff;
	    font-family: 'Roboto Condensed';
	    font-size: 16px;
	    letter-spacing: 2px;
	    line-height: 48px;
	    font-weight: 800;
	    position: relative;
	    right: 48px;
	}

	.position-1 {
		right: 47px;
	}

	.position-2 {
		right: 31px;
	}


	@keyframes draw {
	  0% {
	    stroke-dasharray: 140 540;
	    stroke-dashoffset: -474;
	    stroke-width: 2px;
	  }
	  100% {
	    stroke-dasharray: 860;
	    stroke-dashoffset: 0;
	    stroke-width: 2px;
	  }
	}

	.svg-wrapper {
		display: flex;
		justify-content: center;
		@include respond-to(tablet) {
			flex-direction: row;
		}
	}

	.svg-wrapper:hover .shape-1,
	.svg-wrapper:hover .shape-2,
	.svg-wrapper:hover .shape-3 {
	  -webkit-animation: 0.5s draw linear forwards;
	  animation: 0.5s draw linear forwards;
	}
}

	.returnToTop {
        position: fixed;
	    z-index: 1;
	    top: 0;
	    bottom: 0;
	    background: white;
	    opacity: .8;
	    width: 100%;
	    height: 35px;
	    display: block;
	    text-decoration: none;
	    -moz-border-radius: 35px;
	    border-bottom-right-radius: 60%;
	    border-bottom-left-radius: 60%;
	    display: none;
	    -webkit-transition: all 0.3s linear;
	    -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	}
	.returnToTop i {
		display: flex;
		margin: auto;
	    color: black;
	    margin: 0;
	    position: fixed;
	    z-index: 1;
	    left: 49%;
	    top: 13px;
	    font-size: 19px;
	    -webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	}
	.returnToTop:hover {
	    background: wheat;
	    height: 20px
	}
	.returnToTop:hover i {
	    color: #fff;
	    top: 3px;
	}