 // Basic color variables
$orange				:	#D2691E;	
$orangeChoco		:	whitesmoke;


//Production colors 
$nav-a-clr				:	$orange;
$nav-border-clr			:	$orangeChoco;
$header-name-clr		:	$orangeChoco;

//borders
$brdStyle				: 	solid;